:root {
    --background-color: #000;
    --text-color: #ffffff;
    --hover-color: #0400f1;
    --button-bg-color: #e0dd00;
    --button-bg-hover-color: #fffb00;
    --button-tx-color: #000000;
  }
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
.op{
    border: solid 1px blueviolet;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    text-align: end;
    margin-bottom: 5px;
}
.author{
    color: var(--text-color);
    font-size: 12px;
    letter-spacing: 1px;
}
.author:hover,
.author:active{
    color: var(--hover-color);
    
}
button{
    background-color: var(--button-bg-color);
    color: var(--button-tx-color);
    border: none;
    width: 60%;
    height: 60px;
    border-radius: 15px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.2rem;
}
button:hover{
    background-color: var(--button-bg-hover-color);
}
button:active{
    transform: scale(1.1);
}
h1{
    display: none;
}
h2{
    text-align: center;
    line-height: 150%;
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-family: 'Balsamiq Sans', cursive;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;    
    display: flex;
    width: 99%;
    height: 99%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* страница авторизации ---------------------------------------------------*/

.authorization{
    display: none;  /*!!!!!!!!!!!!!!!!!!!*/
}
.authorization img{
    width: 80%;
    margin-bottom: 30px;
}

.wrap-user{
    position: absolute;    
    display: flex;
    width: 99%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
    transition: all 0.5s;
    transform: translateY(-100%);
}
.wrap-user form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrap-user form input{
    background-color: var(--text-color);
    color: var(--button-tx-color);
    border: none;
    width: 95%;
    height: 60px;
    border-radius: 15px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.wrap-user form input:last-child{
    margin-bottom: 0;
}
.wrap-user form input:last-child{
    background-color: var(--button-bg-color);
}
.wrap-user form input:last-child:hover{
    background-color: var(--button-bg-hover-color);
}
.wrap-user form input:last-child:active{
    transform: scale(1.1);
}
#oldUser{
    margin-bottom: 30px;
}



/*   выбор блока ------------------------------------------------------------ */

.selection{
    display: none;  /*!!!!!!!!!!!!!!!!!!!*/
}
.selection img{
    width: 70%;
    margin-bottom: 30px;
}
.selection-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.selection-button button{
    width: 100%;
    margin-bottom: 10px;
}


/*-------------------------------- 4 услуги верх меню--------------------*/

.switch{
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.switch button{
    background-size: cover;
    width: 65px;
    height: 65px;
}
#switch-shopping{
    background-image: url('../assets/icon/shop.png');
}
#switch-memory{
    background-image: url('../assets/icon/memory.png');
}
#switch-passwords{
    background-image: url('../assets/icon/key.png');
}
#switch-scrin{
    background-image: url('../assets/icon/screen.png');
}


/*----------------покупки-------------------------------*/

.shopping{
    height: 85%;
    width: 90%;
}